*.asv
*.MATLABDriveTag
Extras/
HOIST/99_Outputs/*
!HOIST/99_Outputs/2DT*/
!HOIST/99_Outputs/2DT*/**
!HOIST/99_Outputs/3DT*/
!HOIST/99_Outputs/3DT*/**
!HOIST/99_Outputs/2DR*/
!HOIST/99_Outputs/2DR*/**
!HOIST/99_Outputs/3DR*/
!HOIST/99_Outputs/3DR*/**
!HOIST/99_Outputs/MEO*/
!HOIST/99_Outputs/MEO*/**
!HOIST/99_Outputs/GEO*/
!HOIST/99_Outputs/GEO*/**
!HOIST/99_Outputs/LEO*/
!HOIST/99_Outputs/LEO*/**
!HOIST/99_Outputs/_PostProcessing/